<div class="page-header">
  <h1>Users</h1>
</div>

<%= search_form_for @q, :url => admin_users_path, :html => { :method => :get, :class => "well form-inline" } do |f| %>
  <div class="form-group">
    <%= f.text_field :name_or_email_cont, :type => "search", :class => "form-control", :placeholder => "Search by name_or_email" %>
  </div>

  <%= f.submit "Search", :class => "btn btn-default" %>
<% end %>


<p><%= link_to("Create a new User", new_admin_user_path) %></p>

<table class="sortable table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="user">
        <td><%= link_to(user.id, admin_user_path(user)) %></td>
        <td><%= link_to('Edit', edit_admin_user_path(user)) %></td>
        <td><%= link_to('Delete', admin_user_path(user), :confirm => "Are you sure?", :method => :delete) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
